@model TarefaModel



<div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmação de exclusão</h5>
            <hr/>
          </div>
          <div class="modal-body">
            <div>
                <p class="fs-3" >Tem certeza que deseja excluir a tarefa abaixo??</p>
                <hr/>
                <p class="fs-4"><b>@Model.Tarefa<b/></p>

            </div>
          </div>
          <hr/>
          <div class=" " style="padding: 0.75rem; ">
            <a role="button" class="btn btn-secondary  btn-block" data-bs-dismiss="modal">Cancelar</a>
            <a role="button" class="btn btn-danger  btn-block" asp-action="Deletar" asp-controller="Tarefa" asp-route-id="@Model.Id"><i class="bi bi-x-circle"></i>
 Deletar</a>
          </div>
        </div>
      </div>