@model TarefaModel
@{
	ViewData["Title"] = "Adicionar Tarefa";
}


<div class="" >
    <h3 class="mb-4 display-5"><b>Adicionar Tarefa</b></h3>
	<form asp-controller="Tarefa" asp-action="Criar" method="post">
      <div class="mb-3">
        <label for="inputTarefa" class="form-label">Descrição da Tarefa</label>
        <input type="text" asp-for="Tarefa" class="form-control" id="inputTarefa">
        <span asp-validation-for="Tarefa"></span>
      </div>
      <button type="submit" class="btn  btn-success mb-3 w-100"><i class="bi bi-plus-circle"></i> Adicionar Tarefa</button>
      <a role="button" class="btn  btn-secondary  w-100" asp-controller="Tarefa" asp-action="Index">Voltar</a>
    </form>
</div>