@model List<TarefaModel>
@{
	ViewData["Title"] = "Lista Tarefas";
}


<h3 class="mb-4 display-5"><b>Lista de Tarefas</b></h3>
<a class="btn btn-success mb-4" asp-controller="Tarefa" asp-action="Criar">Adicionar nova tarefa</a>

<div class="text-center">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Data de Criação</th>
          <th scope="col">Tarefa</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach(var tarefa in Model)
                {
                    <tr>
                      <td>@tarefa.DataCriacao</td>
                      <td>@tarefa.Tarefa</td>
                      <td>
                          <a role="button" class="btn btn-warning " asp-controller="Tarefa" asp-action="Editar" asp-route-id="@tarefa.Id" >Editar</a>
                          <a href="javascript:" class="btn btn-danger btn-deletar-contato" tarefa-id="@tarefa.Id" >Deletar</a>  
                      </td>
                    </tr>
                }
            }
            else
            {
                <tr >
                    <td colspan="3">
                        Não possui tarefas registradas!
                    </td>
                </tr>
            }
      </tbody>
    </table>


    <div class="modal tarefaExclusao" id="modalTarefaExclusao" tabindex="-1">
    </div>


</div>