@model LoginModel
@{
	Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login Usuário";

}

@if(TempData["MensagemSucesso"] != null){
    <div class="alert alert-success" role="alert">
      @TempData["MensagemSucesso"]
    </div>
}
    
@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="login-content">
    <form asp-action="Entrar" asp-controller="Login" method="post" > 
          <div class="mb-3">
            <label for="InputEmail1" class="form-label">Login:</label>
            <input type="text" asp-for="Login" class="form-control btn-style" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label ">Senha:</label>
            <input type="password" asp-for="Senha"  class="form-control btn-style" id="exampleInputPassword1">
          </div>
          <p>Esqueceu a senha? <a asp-action="RedefinirSenha" asp-controller="Login" >Redefinir Senha</a> </p>
          <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
</div>