@{
	ViewData["Title"] = "Sem Acesso";
}


<div class="text-center">

	<p>O seu usuário não possui acesso para está página. <a asp-controller="Home" asp-action="Index" >Clique aqui para retornar a página HOME.</a> </p>

</div>